<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ログイン</title>
	</head>
    <body>
		<h1>ログイン</h1>
		<div th:if="${param.error}" style="color: red;">
			ユーザー名またはパスワードが正しくありません。
		</div>
		
		<form th:action="@{/login}" method="post">
			<table border="0">
				<colgroup>
				<td><input type="text" id="username" name="username" placeholder="ユーザー名"></td>
				</colgroup>
				
				<colgroup>
				<td><input type="password" id="password" name="password" placeholder="password"></td>
				</colgroup>
				
				<tr></tr><td><button type="submit">ログイン</button></td>
			</table>	
		</form>
    </body>
</html>