<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>登録画面</title>
	</head>
	
	<body>
		<h2>日記編集</h2>
		<form th:action="@{/diary/update}" method="post" th:object="${diaryForm}">
			
			<input type="hidden" th:value="${diary.diaryId}" name="diaryId"><br>
			
			<label for="diaryTitleForm">タイトル：</label>
			<input type="text" th:field="*{diaryTitleForm}"><br>
			 <div th:if="${#fields.hasErrors('diaryTitleForm')}" th:errors="*{diaryTitleForm}" style="color: red;"></div>
			
			<label for="diaryContentForm">本文：</label>
			<input type="text" th:field="*{diaryContentForm}"><br>
			 <div th:if="${#fields.hasErrors('diaryContentForm')}" th:errors="*{diaryContentForm}" style="color: red;"></div>
			 
			 <input type="hidden" th:value="${diary.diaryUserId}" name="diaryUserId"><br>
			
			<button type="submit">保存</button>
		</form>
		
		<form th:action="@{/diary}" method="get">
			<button type="submit">戻る</button>
		</form>
		
		<p th:if="${successMessage}" th:text="${successMessage}" style="color: green;"></p>
		<p th:if="${failureMessage}" th:text="${failureMessage}" style="color: red;"></p>
	</body>
</html>