<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>詳細画面</title>
	</head>
	
	<body>
		<h2>日記詳細</h2>
		
		<table border="1">
			<tr>
				<th>タイトル</th>
				<td th:text="${diary.diaryTitle}"></td>
			</tr>
			<tr>
				<th>本文</th>
				<td th:text="${diary.diaryContent}"></td>
			</tr>
			<tr>
				<th>投稿日時</th>
				<td th:text="${#dates.format(diary.diaryDate, 'yyyy/MM/dd')}"></td>
			</tr>
		</table>
		
		<div sec:authorize="hasRole('ADMIN')">
			<form th:action="@{/diary/edit/{id}(id=${diary.diaryId})}" method="get">
				<button type="submit">編集</button>
			</form>
			
			<form th:action="@{/diary/delete/{id}(id=${diary.diaryId})}" method="post">
				<button type="submit">削除</button>
			</form>
		</div>
		
		<form th:action="@{/diary}" method="get">
			<button type="submit">戻る</button>
		</form>
	</body>
</html>