<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>登録画面</title>
	</head>
	
	<body>
		<h2>日記登録</h2>
		<form th:action="@{/diary/save}" method="post">
			<label for="diaryTitle">タイトル：</label>
			<input type="text" id="diaryTitle" name="diaryTitle"><br>
			
			<label for="diaryContent">本文：</label>
			<input type="text" id="diaryContent" name="diaryContent"><br>
			
			<button type="submit">保存</button>
		</form>
		
		<form th:action="@{/diary}" method="get">
			<button type="submit">戻る</button>
		</form>
		
		<p th:if="${successMessage}" th:text="${successMessage}" style="color: green;"></p>
		<p th:if="${failureMessage}" th:text="${failureMessage}" style="color: red;"></p>
	</body>
</html>